In [14]:
import pandas as pd

In [15]:
proveedores=pd.read_excel('Data/Proveedores.xlsx')

In [16]:
proveedores.head()

,nombre,localidad,provincia,cuilCuit,tagsRubro,numeroCuenta,nombreContacto,apellidoContacto,telefonoContacto,informacionAdicional,mail
0,MNCI (Mov. Nac. Campesino Indigena),Paternal,NaN,NaN,"Mermelada, Miel, Conserva",NaN,CAMILA,NaN,1150168291,NaN,NaN
1,MNCI (Mov. Nac. Campesino Indigena),Varela,NaN,NaN,"Pollo, Huevo de campo, Hortalizas",01701322-40000005143034,MERCEDES,NaN,1566455096,NaN,NaN
2,UTT (Uni贸n de Trabajadores de la Tierra),NaN,NaN,NaN,Hortalizas,01401574-03509050681504,JUAN PABLO,NaN,1138671384,NaN,NaN
3,FRIGORIFICO COOPERATIVO BRAGADO,NaN,NaN,NaN,Carne Vacuna,NaN,ALFREDO,SABINO,1161809013,NaN,NaN
4,ASOCIACION DE PRODUCTORES PORCINOS DE NAVARRO,NaN,NaN,NaN,Carne de Cerdo,NaN,ERIC,NaN,1136097769,NaN,NaN

In [17]:
proveedores.fillna(value='', inplace=True)

In [18]:
proveedores.head()

,nombre,localidad,provincia,cuilCuit,tagsRubro,numeroCuenta,nombreContacto,apellidoContacto,telefonoContacto,informacionAdicional,mail
0,MNCI (Mov. Nac. Campesino Indigena),Paternal,,,"Mermelada, Miel, Conserva",,CAMILA,,1150168291,,
1,MNCI (Mov. Nac. Campesino Indigena),Varela,,,"Pollo, Huevo de campo, Hortalizas",01701322-40000005143034,MERCEDES,,1566455096,,
2,UTT (Uni贸n de Trabajadores de la Tierra),,,,Hortalizas,01401574-03509050681504,JUAN PABLO,,1138671384,,
3,FRIGORIFICO COOPERATIVO BRAGADO,,,,Carne Vacuna,,ALFREDO,SABINO,1161809013,,
4,ASOCIACION DE PRODUCTORES PORCINOS DE NAVARRO,,,,Carne de Cerdo,,ERIC,,1136097769,,

In [19]:
proveedores.to_json(path_or_buf='Data/proveedores.json', orient='records')